*{
	margin:0px;
	padding: 0px;
}

body{
	font-family: cursive;
	background-color: #323A46;
}
/*----*/
.container{
	width: 1000px;
	max-width: 1000px;
	margin:0 auto;
	overflow: hidden;
}

header{
	background-color: #EB4A33;
	margin: 20px 0;
}

header h1{
	text-align: center;
	color: #fff;
	padding: 20px 0;
}

/*----*/
.main{
	width: 700px;
	background-color: #fff;
	padding: 20px;
	float: left;
	box-sizing: border-box;
}

/*responsive*/
.main img {
	width: 100%;
	height: auto;
}

/*---*/
aside{
	width: 300px;
	float: right;
	background-color: #ccc;
	box-sizing: border-box;
	padding: 20px;
}

footer{
   float: left;
   background-color: #000;
   padding: 20px;
   box-sizing: border-box;
   color: #fff;
   width: 100%;
   clear: both;
   margin-top: 20px;
}

/*
@media screen and (max-width: 800px){
	body{
		background-color: blue;
	}
}
*/



/*
@media screen and (max-width:800px){
	.main{
		width: 100%;
	}

	aside {
		width: 100%;	}
}
*/





